@using Microsoft.AspNetCore.Components.Authorization
@using Refit
@rendermode InteractiveServer

@if(_isUserMenuVisible || _isDropdownVisible)
{
    <div class="overlay" @onclick="HandleOutsideClick">
    </div>
}
<div class="top-row px-3 navbar navbar-dark">
    <div class="container-fluid ps-0">
        <a class="navbar-brand" href="">
            <img src="/img/clubschild.svg" alt="Mercurius Aalst" class="logo-image" />
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <NavLink href="/" Match="NavLinkMatch.All" @onclick="() => OnNavigationSelected.InvokeAsync()">
            <div class="nav-section nav-item px-3">
                 Home
            </div>

        </NavLink>
        <NavLink href="/sponsors" Match="NavLinkMatch.All" @onclick="() => OnNavigationSelected.InvokeAsync()">
            <div class="nav-section nav-item px-3">
                Our Sponsors
            </div>
        </NavLink>
        <NavLink href="https://discord.gg/dsmahrAtTG" Match="NavLinkMatch.All" @onclick="() => OnNavigationSelected.InvokeAsync()">
            <div class="nav-section nav-item px-3">
                 Discord
            </div>
        </NavLink>
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-section nav-item px-3 dropdown dropdown-toggle" @onclick:stopPropagation="true" @onclick="ToggleDropdown">
                    <div class="user-profile">
                        <span>Admin</span>
                    </div>
                    @if(_isDropdownVisible)
                    {
                        <div class="dropdown-menu-custom" @onclick:stopPropagation="true">
                            <a class="dropdown-item" href="/admin/users" @onclick="CloseDropdown">Users</a>
                            <a class="dropdown-item" href="/admin/players" @onclick="CloseDropdown">Players</a>
                            <a class="dropdown-item" href="/admin/teams" @onclick="CloseDropdown">Teams</a>
                            <a class="dropdown-item" href="/admin/sponsors" @onclick="CloseDropdown">Sponsors</a>
                        </div>
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>

</div>
<AuthorizeView>
    <Authorized>
        <div class="nav-section nav-item user-section dropdown px-3" @onclick:stopPropagation="true" @onclick="ToggleUserMenu">
            <div class="user-profile align-middle">
                <span class="user-icon bi bi-person-circle"></span>
                <span>@AuthService.CurrentUser.Identity!.Name</span>
            </div>
            @if(_isUserMenuVisible)
            {

                <div class="dropdown-menu-custom" @onclick:stopPropagation="true">
                    <a class="dropdown-item" @onclick="ChangePasswordAsync">Change Password</a>
                    <a class="dropdown-item" @onclick="Logout">Logout</a>
                </div>

            }
        </div>

    </Authorized>
</AuthorizeView>