@using Microsoft.AspNetCore.Components.Authorization
@using Refit
@if(_isUserMenuVisible || _isDropdownVisible)
{
    <div class="overlay" @onclick="HandleOutsideClick">
    </div>
}
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/img/clubschild.svg" alt="Mercurius Aalst" class="logo-image" />
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-section nav-item px-3">
            <NavLink href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-section nav-item px-3 dropdown dropdown-toggle" @onclick:stopPropagation="true" @onclick="ToggleDropdown">
            <div class="user-profile">
                <span>Admin</span>
            </div>
            @if (_isDropdownVisible)
            {
                <div class="dropdown-menu-custom" @onclick:stopPropagation="true">
                    <a class="dropdown-item" href="/admin/players">Players</a>
                    <a class="dropdown-item" href="/admin/teams">Teams</a>
                </div>
            }
        </div>
    </nav>

</div>
<AuthorizeView>
    <Authorized>      
        <div class="nav-section nav-item user-section dropdown px-3" @onclick:stopPropagation="true" @onclick="ToggleUserMenu">
            <div class="user-profile">
                <span class="user-icon bi bi-person-circle"></span>
                <span>@AuthService.CurrentUser.Identity.Name</span>
            </div>
            @if(_isUserMenuVisible)
            {
                 
                        <div class="dropdown-menu-custom" @onclick:stopPropagation="true">
                            <a class="dropdown-item">Change Password</a>
                            <a class="dropdown-item" @onclick="Logout">Logout</a>
                        </div>

            }
        </div>

    </Authorized>
</AuthorizeView>