@page "/admin"
@attribute [Authorize]
@using Mercurius.LAN.Web.APIClients
@using Mercurius.LAN.Web.Models.Participants
@using Mercurius.LAN.Web.DTOs.Participants.Players
@using Microsoft.AspNetCore.Authorization

<PageTitle>Admin</PageTitle>

<h3>This is an admin page</h3>
