@media (min-width: 600px) {
    .search-bar-container {
        margin-top: 0;
    }
    h1 + .search-bar-container {
        margin-left: 0;
    }
}

.modern-add-game-card .bi-plus-circle {
    font-size: 3rem;
    color: var(--accent-color);
}

.modern-add-game-card h5 {
    margin-top: 0.5rem;
}

.modern-add-game-card p {
    color: #6c757d;
}

.card {
    background: var(--card-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(33, 114, 38, 0.2); /* Reduced glow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: none;
    max-height: 300px;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(33, 114, 38, 0.4); /* Reduced glow */
    }



.card-img-top {
    height: auto;
    aspect-ratio: 3 / 1;
    object-fit: fill;
    border: none;
    border-radius: 4px 4px 0px 0px;
    object-position: center center;
    background-color: black;
}


.card-title {
    font-weight: 700;
    color: var(--accent-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--accent-color);
}

.card-text {
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

    .card-text small {
        color: #e0e0e0; /* Brighter text for readability */
        font-style: normal;
        background-color: #333; /* Contrasting background */
        padding: 3px 6px;
        border-radius: 4px;
        font-size: 0.8rem;
    }

.card-header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card-link{
    width: 100%;
}