<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="logo-text">Mercurius Aalst</span>
        </a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.getElementById('menu-toggle').checked = false;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

<div class="user-info-container">
    @if (AuthService.IsLoggedIn)
    {
        <div class="user-info">
            <span class="user-icon bi bi-person-circle"></span>
            <span class="username">@AuthService.CurrentUser?.Identity?.Name</span>
        </div>
    }
</div>

@code {
    [Inject] private IAuthService AuthService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!AuthService.IsLoggedIn)
        {
            var accessToken = GetCookie("access_token");
            var refreshToken = GetCookie("refresh_token");
            
        }
    }

    private string GetCookie(string name)
    {
        var cookies = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;
        var cookiePairs = cookies.Split(';');
        foreach (var cookie in cookiePairs)
        {
            var parts = cookie.Split('=');
            if (parts.Length == 2 && parts[0].Trim() == name)
            {
                return parts[1].Trim();
            }
        }
        return string.Empty;
    }
}