@page "/change-password"
@using Mercurius.LAN.Web.Services
@rendermode InteractiveServer

<PageTitle>Change Password</PageTitle>


<div class="chp-container">
    <div class="chp-card">
<EditForm Model="_changePasswordModel" OnValidSubmit="HandleChangePasswordAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <h3>Change Password</h3>

            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <InputText id="currentPassword" type="password" class="form-control" @bind-Value="_changePasswordModel.CurrentPassword" />
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <InputText id="newPassword" type="password" class="form-control" @bind-Value="_changePasswordModel.NewPassword" />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="_changePasswordModel.ConfirmPassword" />
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => NavigationManager.NavigateTo("/"))">Cancel</button>
            </div>
</EditForm>
</div>
</div>
