@using Mercurius.LAN.Web.Components.Pages.Games.Matches
@using Mercurius.LAN.Web.Components.Pages.Games.Matches.BracketView
@using Mercurius.LAN.Web.Models.Games
@using Mercurius.LAN.Web.Models.Matches
@using Mercurius.LAN.Web.Models.Participants
@using Mercurius.LAN.Web.Services
@rendermode InteractiveServer

<div>
    <h2>Bracket</h2>
    @switch(BracketType)
    {
        case BracketType.DoubleElimination:
            <DoubleEliminationBracketComponent Matches="@Matches" Participants="@Participants" />
            break;
        case BracketType.SingleElimination:
            <SingleEliminationBracketComponent Matches="@Matches" Participants="@Participants" />
            break;
        default:
            <p>ERROR</p>
            break;
    }


</div>

@code {
    [Parameter] public IEnumerable<Match> Matches { get; set; }
    [Parameter] public IEnumerable<Participant> Participants { get; set; }
    [Parameter] public BracketType BracketType { get; set; }

}
