.sponsors-container {
    height: 100%;
    overflow-y: auto;
    text-align: center;
}


.card-deck {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card-img{
    object-fit: contain;
    background: none;
}

.card {
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    width: auto;
    border: none;
    box-shadow: none;
    background: none;
}
.card::after {
    content: attr(data-overlay-text); /* Get the text from a data attribute */
    visibility: hidden; /* Hide the pseudo-element, but keep it in the flow */
    white-space: nowrap; /* Prevent the text from wrapping */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0; /* Adjust padding if needed to match the overlay */
}

.card img {
    transition: transform 0.3s ease;
    border-bottom: none;

}

.card:hover img {
    transform: scale(1.1);
    filter: blur(3px);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
}

.card:hover .card-overlay {
    opacity: 1;
}