@using MercuriusAalstLanParty.Client.Models

<div>
    <h2>Bracket</h2>
    <SingleEliminationBracketComponent Matches="Matches" Participants="Participants" />
</div>

@code {
    [Parameter] public IEnumerable<Match> Matches { get; set; }
    [Parameter] public IEnumerable<Participant> Participants { get; set; }
}
