<div class="wrapper">
    <div class="slider">
        <div class="slide">
            @foreach(var sponsor in _sponsors)
            {
                <img class="sponsor-logo" src="@sponsor.LogoUrl" />
            }
        </div>
        <div class="slide">
            @foreach(var sponsor in _sponsors)
            {
                <img class="sponsor-logo" src="@sponsor.LogoUrl" />
            }
        </div>
    </div>
</div>


