.wrapper {
    display: flex;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: 1rem;
}
.slider {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient( to right, transparent, #000 15% 85%, transparent );    
    
}

.sponsor-logo {
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}

.slide {
    display: flex;
    animation: slide 60s linear infinite;

}

    .slide img {
        height: 100px;
        padding: 0 30px 0 30px;
    }

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
