@using Mercurius.LAN.Web.Models

<div class="bracket-match" style="left:@(Position.left)px; top:@(Position.y)px;">
    <div class="participant-row">
        <span class="participant-name">@GetParticipantName(Match.Participant1Id)</span>
        <span class="participant-score">@GetParticipantScore(Match, 1)</span>
    </div>
    <div class="participant-row">
        <span class="participant-name">@GetParticipantName(Match.Participant2Id)</span>
        <span class="participant-score">@GetParticipantScore(Match, 2)</span>
    </div>
</div>

@code {
    [Parameter] public Match Match { get; set; }
    [Parameter] public (int left, int y) Position { get; set; }
    [Parameter] public IEnumerable<Participant> Participants { get; set; }

    private string GetParticipantName(int? participantId)
    {
        var participantName = "TBD";
        if (participantId is null || Participants is null)
            return participantName;

        var participant = Participants.SingleOrDefault(p => p.Id == participantId.Value);
        if (participant == null)
            return participantName;

        participantName = participant switch
        {
            Player player => player.Username,
            Team team => team.Name,
            _ => participantId.Value.ToString()
        };
        return participantName;
    }

    private string GetParticipantScore(Match match, int participantNumber)
    {
        var participantScore = participantNumber switch
        {
            1 => match.Participant1Score ?? 0,
            2 => match.Participant2Score ?? 0,
            _ => 0
        };
        return $"[{participantScore}]";
    }
}